$font-stack: "Montserrat", sans-serif;
$primary-color: #ec5c2c;
$secondary-color: #29285a;
$third-color: #f18c6b;
$gray-color: #f9f9f9;

:export {
  font-stack: $font-stack;
  primary-color: $primary-color;
  secondary-color: $secondary-color;
  third-color: $third-color;
  gray-color: $gray-color;
}
